{{! template-lint-disable no-triple-curlies }}
<Textarea
    @class="search-box-input"
    @rows={{1}}
    @autocomplete="off"
    @spellcheck={{false}}
    @placeholder={{placeholder}}
    @value={{_value}}
    @maxlength={{maxLength}}
    @click={{fn this.didClick}}
    @paste={{fn this.didPaste}}
    @cut={{fn this.didCut}}
    @focus-in={{fn this.didReceiveFocus}}
    @focus-out={{fn this.didLoseFocus}}
    @key-up={{fn this.onKeyUp}}
    @keyDown={{fn this.onKeyDown}}
    @disabled={{disabled}} />

<div class="search-box-hints">{{{backgroundText}}}</div>

{{yield}}
